.Home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../../images/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #F8F9FB;
  height: 90vh;
  padding: 2em;
}

.formulario {
  background-color: #1A181A;
  border-radius: 10px;
  padding: 2em;
  font-size: 1.3em;
}

.consulta {
  border-radius: 10px;
}

input {
  text-align: right;
}

.Logo_home {
  height: 50px;
  width: 120px;
  margin-bottom: 1em;
}
